
.myLogo {
  /* -webkit-transform:rotate(310deg); */
  position: relative;
  top: 0px;
  left: 60px;
  font-size: 18px;
}

.myLogo { 
  width: 20%;
  height: 5%;
  opacity: 0.6;
}



#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  left: 0px;
}

h4 {
  color: #FFFFFF;
  /* text-shadow: 3px 2px red; */
}
h6 {
  color: #FFFFFF;
  /* text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #c0b9b9; */
}
p {
  color: #FFFFFF;
  /* color: rgb(204, 77, 38);
  text-shadow: 0 0 5px rgb(51, 99, 107), 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF; */
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #b18484; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}